# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# 忽略data下的txt
/app/src/main/java/java_algorithm/data/*.txt
/app/src/main/java/java_algorithm/data/*.bin
# 忽略所有的.class文件
*.class
